html { font-size: calc(.5rem + 2vmin + 1vmax) }
* { font-size: inherit }

.font-mono { font-family: monospace }
.font-sans { font-family: arial, sans-serif }
.font-bold { font-weight: bold }
.font-huge { font-size: 1em }
.m-3 { margin: 3vw }

.madlib {
  line-height: 1.5;
  display: flex;
  margin: 0;
}

.galaxy {
  list-style: none;
  padding: 0;
  margin: 2vw 5vw;
}

.galaxy-black {
  padding: 3vw;
  margin: 1vw;
}

.galaxy-birth {
  margin: 0 0 3vw;
}

.galaxy-death {
  text-align: end;
  margin: 3vw 0 0;
}

@media (min-width: 60em) {
  .element {
    flex-basis: 41%;
  }

  .cardinality {
    flex-basis: 31%;
  }

  .cluster {
    display: flex;
    flex-flow: row wrap;
  }
}
