.zodiac-aries { background: #9c403f !important; color: #d3ffed !important }
.zodiac-taurus { background: #14466f !important; color: #ffbc97 !important }
.zodiac-gemini { background: #85eeb9 !important; color: #58427c !important }
.zodiac-cancer { background: #e6a8a8 !important; color: #362b74 !important }
.zodiac-leo { background: #45539c !important; color:  #edf0cc !important }
.zodiac-virgo { background: #e1c9ff !important; color: #3c4679 !important }
.zodiac-libra { background: #8d95c7 !important; color: #3e0100 !important }
.zodiac-scorpio { background: #34162a !important; color: #c0938a !important }
.zodiac-sagittarius { background: #bd92dc !important; color: #39200c !important }
.zodiac-capricorn { background: #ffe1ef !important; color: #953739 !important }
.zodiac-aquarius { background: #346573 !important; color: #ecf9fe !important }
.zodiac-pisces { background: #fefaeb !important; color: #814998 !important }

.zodiac-sun { background: #fcfcfc !important; color: #111 !important }
.zodiac-moon { background: #111 !important; color: #fcfcfc !important }