.zodiac-aries { background: #5d3c3a !important; color: #7ae194 !important }
.zodiac-taurus { background: #14466f !important; color: #ffbc97 !important }
.zodiac-gemini { background: #85eeb9 !important; color: #58427c !important }
.zodiac-cancer { background: #e7adad !important; color: #422b74 !important }
.zodiac-leo { background: #404d8f !important; color: #d8e9a1 !important }
.zodiac-virgo { background: #e1c9ff !important; color: #3c4679 !important }
.zodiac-libra { background: #8d95c7 !important; color: #3e0100 !important }
.zodiac-scorpio { background: #34162a !important; color: #c0938a !important }
.zodiac-sagittarius { background: #bd92dc !important; color: #39200c !important }
.zodiac-capricorn { background: #ffe1ef !important; color: #953739 !important }
.zodiac-aquarius { background: #346573 !important; color: #ecf9fe !important }
.zodiac-pisces { background: #fdf8e4 !important; color: #7f4895 !important }